<div class="modal-body">
    <div class="text-center">
        <h5>Would you like to text your ingredient list 
            <span *ngIf="this.data.shoppingListNames[0]">for <b>{{this.data.shoppingListNames}}</b> </span>
            <span *ngIf="send"> to <b>{{send}}</b></span>?
        </h5>
        <hr />
    </div>
    
    <form #f="ngForm">
        <form #text="ngForm" (ngSubmit)="addPhone(text)" class="form-group row">
            <label for="newPhone" class="col-sm-3 col-form-label">Phone Number:</label>
            <div class="col-sm-7">
                <input 
                    class="form-control"
                    type="text" 
                    name="newPhone"
                    [(ngModel)]="newPhone"
                    required
                >
            </div>
            <div class="col-sm-2 text-center">
                <button class="btn btn-outline-primary" type="submit">
                    ADD <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </button>
            </div>
            <div *ngIf="error" class="alert alert-danger text-center">
                Invalid phone number.
            </div>
        </form>

        <div *ngFor="let item of phones; let i=index">
            <div class="row form-group">
                <div class="col-sm-3 text-center">
                    <input
                        name="send"
                        type="radio"
                        [value]="item"
                        [(ngModel)]="send"
                    >
                </div>
                <div class="col-sm-9">
                    <label>
                        {{item}}
                    </label>
                </div>
            </div>
        </div>
    </form>
    <div class="pad-button text-center">
        <br />
        <i *ngIf="!done && start" class="fa fa-spinner fa-spin fa-2x"></i>
        <h5 *ngIf="done && start" class="alert alert-info">Message Sent!</h5>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="onSend(f)">Send Text <i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-secondary" (click)="toggle($event)">Close</button>
</div>