<!-- <div #aVariable="var" var="abc"></div> -->
<div class="modal-outer">
    <div class="modal-body modal-guts">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="text-center" *ngIf="list">
                Shopping list for <b>{{title}}</b>
            </div>
            <br />
            <hr />
                
            <form #add="ngForm" (ngSubmit)="addIngredient(add)" class="form-group row">
                <label for="add" class="col-sm-3 col-form-label">Add Ingredient:</label>
                <div class="col-sm-8">
                    <input 
                        class="form-control"
                        type="text" 
                        name="ingredient"
                        [(ngModel)]="ingredient"
                        required
                    >
                </div>
                <div class="col-sm-1 text-center">
                    <button class="btn btn-link" click="addIngredient(add)">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </button>
                </div>
            </form>

            <div *ngFor="let item of ingredients; let i=index" class="checkbox">
                <div class="row form-group">
                    <div class="col-sm-3 text-center">
                        <input
                            type="checkbox"
                            ng-init="checked=item.selected"
                            name={{item.name}}
                            [(ngModel)]="item.selected"
                        >
                    </div>
                    <div class="col-sm-9">
                        <label [ngStyle]="{'opacity': item.selected ? '1.0' : '0.5'}">
                            {{item.name}}
                        </label>
                    </div>
                </div>
            </div>
            <div *ngIf="!list" class="text-center">
                You have no items on your shopping list.
            </div>
            <br />
            <hr />

            <form #text="ngForm" (ngSubmit)="addPhone(text)" class="form-group row">
                <label for="phone" class="col-sm-3 col-form-label">Phone Number:</label>
                <div class="col-sm-8">
                    <input 
                        class="form-control"
                        type="text" 
                        name="phone"
                        [(ngModel)]="phone"
                        required
                    >
                </div>
                <div class="col-sm-1 text-center">
                    <button class="btn btn-link" click="addPhone(add)">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </button>
                </div>
            </form>

            <div *ngFor="let item of phones; let i=index">
                <div class="row form-group">
                    <div class="col-sm-3 text-center">
                        <input
                            name="send"
                            type="radio"
                            [value]="item"
                            [(ngModel)]="send"
                        >
                    </div>
                    <div class="col-sm-9">
                        <label>
                            {{item}}
                        </label>
                    </div>
                </div>
            </div>
                
    
        </form>

        <div *ngIf="list" class="pad-button">
            <br />
            <br />
            <!-- <button class="btn btn-outline-primary btn-block" (click)="save(f)">
                Save Changes
            </button> -->
            <button class="btn btn-outline-danger btn-block" (click)="clear(f)">
                Clear List <i class="fa fa-trash"></i>
            </button>
            <button class="btn btn-outline-primary btn-block" (click)="onSubmit(f)">
                Send Text <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-secondary" (click)="toggle(f)">
        Continue
    </button>
</div>

<!-- (change)="handleClick($event)" -->

<!-- <div class="form-group">
    <label for="usr">Name:</label>
    <input type="text" class="form-control" id="usr">
</div> -->

<!-- value={{item.name}}
checked={{item.selected}}
name={{item.name}}
(click)="handleClick($event)" -->

<!-- checked="true"
name={{item.name}} -->