<!-- <div #aVariable="var" var="abc"></div> -->
<div class="modal-outer">
    <div class="modal-body modal-guts">
        <form #f="ngForm">
            <h5 class="text-center" *ngIf="this.titleList[0]">
                Shopping list for <b>{{this.titleList}}</b>
                <br />
                <hr />
            </h5>
            
            <!-- (ngSubmit)="addIngredient(add)"  -->
            <form #add="ngForm" (ngSubmit)="addIngredient(add)" class="form-group row">
                <label for="add" 
                    class="col-sm-3 col-form-label"  
                    [ngStyle]="{'color': !ingredientField.valid && error === 'Fill out input field in order to add new ingredient.' ? '#d9534f': undefined}"
                >Add Ingredient:</label>
                <div class="col-sm-7">
                    <input 
                        class="form-control"
                        type="text" 
                        name="ingredient"
                        [(ngModel)]="ingredient"
                        required
                        minlength="1" 
                        #ingredientField="ngModel"
                        [ngStyle]="{'border-color': !ingredientField.valid && error === 'Fill out input field in order to add new ingredient.' ? '#d9534f': undefined}"
                    >
                </div>
                <div class="col-sm-2 text-center">
                    <button class="btn btn-outline-primary" type="submit">
                        ADD <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </button>
                </div>
            </form>

            <div class="pad-button text-center">
                <div *ngIf="error" class="alert alert-danger">
                    {{error}}
                </div>
            </div>

            <div *ngFor="let item of ingredients; let i=index" class="checkbox">
                <div class="row form-group">
                    <div class="col-sm-3 text-center">
                        <input
                            type="checkbox"
                            ng-init="checked=item.selected"
                            name={{item.name}}
                            [(ngModel)]="item.selected"
                            [ngStyle]="{
                                'opacity': item.selected ? '1.0' : '0.7',
                                'outline': error === 'You must have one or more items on your shopping list to continue.' ? '1px solid #d9534f': undefined
                            }"
                            (click)="onChange($event)"
                        >
                    </div>
                    <div class="col-sm-9">
                        <label 
                            [ngStyle]="{
                                'opacity': item.selected ? '1.0' : '0.5',
                                'color': error === 'You must have one or more items on your shopping list to continue.' ? '#d9534f': undefined
                            }">
                            {{item.name}}
                        </label>
                    </div>
                </div>
            </div>
            <div *ngIf="!ingredients[0]" class="text-center">
                You have no items on your shopping list.
            </div>
            <br />
        </form>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" (click)="continue(f)" type="button">
        Send Text <i class="fa fa-paper-plane" aria-hidden="true"></i>
    </button>
    <div *ngIf="ingredients[0]" class="">
        <button class="btn btn-danger" (click)="clear(f)" type="button">
            Clear List <i class="fa fa-trash"></i>
        </button>
    </div>
    <button class="btn btn-secondary" (click)="toggle(f)" type="button">
        Close
    </button>
</div>

<!-- (change)="handleClick($event)" -->

<!-- <div class="form-group">
    <label for="usr">Name:</label>
    <input type="text" class="form-control" id="usr">
</div> -->

<!-- value={{item.name}}
checked={{item.selected}}
name={{item.name}}
(click)="handleClick($event)" -->

<!-- checked="true"
name={{item.name}} -->