<a href="#" (click)="changeState($event)" class="item" >
    <div [@expand]="contentShown" draggable="cloud === 'added'" >
        <div class="recipe-content">
            <div class="text-center">
                <h4 class="title" [@grow]="contentShown">{{title}}</h4>
                <div [ngSwitch]="cloud" class="image-container">
                    <ng-container *ngSwitchCase="'added'">
                        <!-- <div></div> -->
                        <div class="image">
                            <cl-image class="image" public-id="{{entry.pic}}"  draggable="false">
                                <cl-transformation width="250" crop="scale" radius="10"></cl-transformation>
                            </cl-image>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="'original'">
                        <div class="image">
                            <img class="" src="{{getImage(entry.pic)}}" alt="{{entry.title}}" draggable="false"/>
                        </div>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <div></div>
                    </ng-container>
                </div>
            </div>
        
            <div [@showContent]="contentShown" class="directions">
                <hr />
                <div class="guts">
                    <h4>Ingredients</h4>
                    <ol type="1">
                        <li *ngFor="let ingredient of entry.ingredients">{{ingredient}}</li>
                    </ol>
                    <br />
                    <h4>Directions</h4>
                    <ol type="1">
                        <li *ngFor="let direction of entry.directions"><p>{{direction}}</p></li>
                    </ol>
                    <div class="text-center">
                        <a href="{{entry.href}}" *ngIf="edit === 'original'"><button class="btn btn-link">{{entry.href}}</button></a>
                        <div *ngIf="edit === 'added'">
                            <button class="btn btn-outline-danger btn-block"  (click)="deleteRecipe($event)">Delete <i class="fa fa-trash"></i></button>
                            <button class="btn btn-outline-primary btn-block" (click)="editRecipe($event)">Edit <i class="fa fa-pencil" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center guts" [@button]="contentShown">
                <button class="btn btn-outline-primary ingredients-button btn-block" (click)="launch($event)">{{button}} <i class="fa fa-list" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</a>

