a {
    color: dimgray;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

.recipe-content {
    background-color: white;
    border-radius: 10px;
    padding: 20px 15px 10px 15px;

    /* margin: 0 auto;
    margin-bottom: 20px; */
    margin: 10px;

    -webkit-transition: zoom 5s ease-out;
    -moz-transition: zoom 5s ease-out;
    -o-transition: zoom 5s ease-out;
    transition: zoom 5s ease-out;

    zoom: 100%;
}


.title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.recipe-content:hover {
    border-style: solid;
    border-width: 1px;
    border-color: whitesmoke;
    transform: scale(1.1);
    /* box-shadow: 10px 10px 5px #888888; */
}

.directions {
    /* padding-bottom: 5%; */
    height: "auto";
    overflow-y: hidden;
    padding: 10px 15px 10px 15px;

    max-width: 1000px;
    margin: 0 auto;
}

.item{
    margin: auto;
}

.link{
    color: blue;
}