<a href="#" (click)="changeState($event)" class="item" >
    <div [@expand]="contentShown" draggable="cloud === 'added'" >
        <div class="recipe-content">
            <div class="text-center">
                <h4 class="title" [@grow]="contentShown">{{title}}</h4>
                <button class="btn btn-link" (click)="launch($event)">{{button}}<i class="fa fa-pencil" aria-hidden="true"></i></button>
                <div [ngSwitch]="cloud" class="image-container">
                    <ng-container *ngSwitchCase="'added'" class="image">
                        <!-- <div></div> -->
                        <cl-image secure="true" public-id="{{entry.pic}}"  draggable="false" >
                            <cl-transformation width="250" height="170" crop="fill" radius="10"></cl-transformation>
                        </cl-image>
                    </ng-container>
                    <ng-container *ngSwitchCase="'original'">
                        <img class="image" src="{{getImage(entry.pic)}}" alt="{{entry.title}}" draggable="false"/>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <div></div>
                    </ng-container>
                </div>
            </div>
        
            <div [@showContent]="contentShown" class="directions">
                <hr />
                <div class="guts">
                    <h4>Ingredients</h4>
                    <ol type="1">
                        <li *ngFor="let ingredient of entry.ingredients">{{ingredient}}</li>
                    </ol>
                    <br />
                    <h4>Directions</h4>
                    <ol type="1">
                        <li *ngFor="let direction of entry.directions"><p>{{direction}}</p></li>
                    </ol>
                    <div class="text-center">
                        <a (click)="'(e) => {e.preventDefault();}'" href="{{entry.href}}" *ngIf="entry.href"><button class="btn btn-link">{{entry.href}}</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</a>

