a {
    margin: 5px 0px 5px 0px;
    text-decoration: none;
}


img {
    border-radius: 10%
}

button {
    margin-top: 3%;
    /* margin-bottom: -10px; */
}

.fa-pencil {
    margin-left: 3%;
}

.recipe-content {
    color: dimgray;
    background-color: white;
    border-radius: 10px;
    padding: 1%;
    /* max-width: 200px;
    margin: 0 auto; */

    border-width: 0px;
    border-style: solid;
    border-color: #d9d9d9;

    /* margin: 0 auto;
    margin-bottom: 20px; */
    margin: 10px;

    -webkit-transition: color 2s ease-out;
    -moz-transition: color 2s ease-out;
    -o-transition: color 2s ease-out;
    transition: color 2s ease-out;
}

.directions {
    height: "auto";
    overflow-y: hidden;
    /* width: 100%; */
}

.guts {
    padding: 0px 35px 35px 35px;
    max-width: 700px;
    margin: 0 auto;
}

.title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.recipe-content:hover {
    color: #373737;
    border-width: 1px;
    box-shadow: 5px 5px 3px #888888;
}

/* .directions {
    
} */

/* .guts {
    max-width: 500px;
    margin: 0 auto;
} */

.item{
    margin: auto;
}

.link{
    color: blue;
}

/* .text-center{
    
} */