<div class="border-top">
    <header>
        <div class="">
            <div class="header-content border">
                <h1>{{(this.user.name) ? this.user.name + "'s Recipe Box" : "Recipe Box"}}</h1>
                <span [ngSwitch]="user.name">
                    <ng-container *ngSwitchCase="''">
                        <button type="button" class="btn btn-danger" (click)="stateChange('Sign In')">
                            Login <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </button>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        <button type="button" class="btn btn-outline-danger" (click)="stateChange('Logout')">
                            Logout <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </button>
                    </ng-container>
                </span>
                <button type="button" class='btn btn-outline-primary' (click)="stateChange('Add Recipe')">
                    Add Recipe <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-outline-secondary" (click)="stateChange('Text Shopping List')">
                    Text Shopping List <b>( {{user.shoppingList.length}} )</b>
                </button>
            </div>
        </div>
    </header>
</div>
<app-modal 
    [modalShown]="modalShown" 
    [modalContent]="modalContent" 
    [user]="user" 
    [options]="options" 
    (onToggle)="toggleState($event)" 
    (updateUser)="updateUser($event)"
></app-modal>
<div class="border">
    <div class="main">
        <app-entry-list 
            (onEntryLoad)="updateOptions($event)" 
            (onEntryEdit)="changeModalContent($event)"
            [modalContent]="modalContent" 
            [user]="user"
        ></app-entry-list>
    </div>      
</div>


