/* ::ng-deep .card{
    background-color: WhiteSmoke;
}

::ng-deep .card-header{
    background-color: White;
}

::ng-deep .card-header a{
    color: dimgray;
    font-size: 150%;
}

::ng-deep .card-body{
    background-color: WhiteSmoke;
} */


.flex-container{
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    /* height: auto; */
}

.panel-heading{
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    border-radius: 4%;
    padding: 1%;
    margin: 1%;
}

/* .flex-container a{
    margin: 2%;
} */
  