/* ::ng-deep .card{
    background-color: WhiteSmoke;
}

::ng-deep .card-header{
    background-color: White;
}

::ng-deep .card-header a{
    color: dimgray;
    font-size: 150%;
}

::ng-deep .card-body{
    background-color: WhiteSmoke;
} */
.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 0;
}


.flex-container{
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    padding: 2%;
    padding-bottom: 3%;
}

.panel-title {
    font-size: 120%;
}

@media screen and (max-width: 549px) {
    .panel-title {
        font-size: 100%;
    }
}

.btn-block{
    padding-bottom: 0;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: #d9534f;
}

a:active:hover {
    color: white;
}

a:focus {
    text-decoration: none;
    color: #d9534f;
}

a:focus:hover {
    color: white;
}

a:visited {
    text-decoration: none;
    color: #d9534f;
}

a:visited:hover {
    color: white;
}


  