<app-modal 
    [modalContent]="modalContent" 
    [user]="user" 
    [options]="options" 
    (updateUser)="userEdit($event)"
    (onEntryEdit)="entryEdit($event)"
></app-modal>

<div class="border">
    <div class="container">
        <div class="panel-group" id="accordion">
            <div *ngFor="let box of entries" class="panel panel-default">
                <app-box [box]="box" [name]="user.name" (entryEdit)="entryEdit($event)"></app-box>
            </div>
        </div>
    </div>           
</div>


