<div class="container">
    <div class="panel-group" id="accordion">
        <div *ngFor="let box of entries" class="panel panel-default">
            <a data-toggle="collapse" data-parent="#accordion" href="{{'#' + box._id}}"  class="btn btn-block btn-outline-danger">
                <p class="panel-title">
                    {{box.category}}
                </p>
            </a>
            <div id={{box._id}} class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="flex-container">
                        <app-entry *ngFor="let entry of box.recipes" [entry]="entry" [id]="entry._id" (entryEdit)="entryEdit($event)" ></app-entry>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


