.container-fluid{
    padding: 0px;
    margin: 0px;
    background-color: WhiteSmoke;
}


body {
    margin:0;
    padding:0; 
    position: relative;
    font-family: Georgia, serif;
    background-color: WhiteSmoke;
}

.main{
    padding: 5%;
}