<div class="modal-header">
    <button type="button" class="close" (click)="stateChange()">&times;</button>
    <h4 class="modal-title">{{content}}</h4>
</div>
<div [ngSwitch]="content">
    <ng-container *ngSwitchCase="'Sign In'">
        <div class="modal-body">
            <app-login></app-login>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="stateChange()">Close</button>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="'Logout'">
        <div class="modal-body">
            <app-logout></app-logout>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="stateChange()">Close</button>
        </div>
    </ng-container>

    <ng-container *ngSwitchCase="'Add Ingredients'">
        <div>
            <app-add-shopping [ingredients]="data" [title]="content" ></app-add-shopping>
        </div>
    </ng-container>

    <ng-container *ngSwitchDefault>
        <div class="text-center modal-body">
            <i class="fa fa-spinner fa-spin fa-2x"></i>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="stateChange()">Close</button>
        </div>
    </ng-container>
</div>

